

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="https://use.typekit.net/ybb6mop.css">

    <title>Home Organization</title>
</head>


<body class="bg-gray-100 m-0 p-0 box-border">



    <!-- Header -->
<header class="flex items-center justify-between px-6 md:px-12 bg-[#d5e3e1] shadow-md backdrop-blur-md fixed top-0 w-full z-50 h-16">
  <div class="pl-8">
  <a href="{{ url_for('index') }}"  ><img src="{{ url_for('static', filename='images/logo home deco.png') }}" alt="logo salemi" class="w-20 cursor-pointer"></a>
  </div>
<!-- Nav -->
 <nav class="gap-6 bg-cover bg-center text-[#4F535B] px-8 cursor-pointer">
  <div class="flex items-center h-16 justify-end px-4 md:px-4">
    <button id="menu-toggle" class="md:hidden text-3xl">
      ☰
    </button>

    <!-- Menú -->
    <ul id="menu" class="hidden md:flex md:flex-row flex-col absolute md:static right-2 top-20 md:top-0 bg-white md:bg-transparent shadow-lg md:shadow-none rounded-md px-4 py-2 md:p-0 text-base tracking-wide">
  <li><a href="{{ url_for('about') }}" class="hover:text-blue-600 p-8 transition-colors duration-200">About me</a></li>
  <li><a href="{{ url_for('blog') }}" class="hover:text-blue-600 p-8 transition-colors duration-200">Blog</a></li>
  <li><a href="{{ url_for('contact') }}" class="hover:text-blue-600 p-8 transition-colors duration-200">Contact</a></li>
</ul>
  </div>
  
    </nav>
  <div class="flex items-center gap-8 ">
    <a href="https://www.instagram.com/homedecoorganization/" target="_blank" class="">
      <img src="{{ url_for('static', filename='images/IG.svg') }}" alt="link to Instagram" class="w-5 h-5">
    </a>
    <a href="https://www.pinterest.com/homedecoorganization/" target="_blank" class="">
      <img src="{{ url_for('static', filename='images/pinterest.svg') }}" alt="link to pinterest" class="w-5 h-5">
    </a>
  </div>
</header>


{% block content %}

<!-- Acá se inyecta el contenido del index.html -->

{% endblock %}

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<!-- Footer --> 

<footer>
        <div class="p-2 w-full h-auto flex flex-col pt-4 mt-4 border-t border-gray-200 text-center mb-4">
          <a href="mailto:jorge@gmail.com" class="text-[#3498db]">homedeco.org@gmail.com</a>    <p class="leading-normal my-5">
            <br>© 2023 Home Deco Organization. All rights reserved
          </p>
          <div class="p-2 w-full pt-4 mt-4 border-t border-gray-200 text-center mb-4">
    <p class="text-sm text-gray-600">
      This site contains affiliate links. If you purchase through these links, I may earn a commission at no extra cost to you.
    </p>  
</footer>

</body>
</html>